

* {
  outline: none;
}

strong {
  font-weight: 600;
}





#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.hamburger-button {
   position: fixed; 
  /* display: flex;  */
   flex-direction: column; 
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 10px;
  width: 30px;
   cursor: pointer;
   pointer-events: auto;
   right:3rem;
  margin-top:-1em;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(211, 23, 23, 0);   
}


.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .hamburger-button {
  pointer-events: none;
  max-height:10px;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 1rem;
  padding: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 300px; */
  position: absolute;
  top: 0;
  left: -90%;
  height: calc(100% );
  color:black;
  background: rgb(219, 251, 219, 0.98);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 1rem 0;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #567743;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(190, 41, 41);
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}




a {
  color: currentColor;
  transition: .2s ease-in-out;

}



