
:root {
  --mainGreen:#a6dc69;
  --mainBackground: black;
  --delay: 0;
	--duration: 800ms;
	--iterations: 1;
}

html {
  scroll-behavior: smooth;
  
}

html, body {
  max-width: 100%;
    overflow-x: hidden;
}

#item04 {
  height: 300vh;
}



.topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    background-color:black;
    padding:0 10%;
    height: 7%;
    z-index:1;
}

#top-social-icons {
  margin: 4rem 0;
}

.social-icon {
  margin: 0 1.5rem 0 0;
}

@font-face {
  font-family: Grotesk;
  src: url(fonts/ProtoGroteskWeb-Regular.ttf);
}

div {
  font-family: Grotesk;
}

.topbar img {
    width: 50px;
}
img {
    width:100%;

}


.headerImage {
  padding: 2.5rem;
}



header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 1em;
}

header .btn {
  display: flex;
  max-width: 220px;
  padding:1em;
}

header .btn:hover {
  color: var(--mainGreen)
}

.highlight {
  text-decoration: underline;
  font-style: italic;
  color:var(--mainGreen);
}

.highlight:hover {
  color:yellow;
}


/* .highlight:hover {
  background-color: rgb(255, 47, 20);
  color:white;
} */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.hobbies_languages {
  
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 5% 10% 2em;
}

.grid2 div:first-child {
    margin: 20% 20% 2em;
    align-content: center;
    justify-content: center;
}

.grid2 heading {
  min-height: 500px;
}

p {
  font-size: 14px;
  line-height: 1.25rem;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    /* background: linear-gradient(90deg, rgba(10,36,0,1) 0%, rgba(225,255,251,1) 0%, rgba(255,240,142,1) 100%); */
    background:var(--mainBackground);
    /* background-color: rgb(255, 179, 162); */
    margin: 5% 10% 2em;
    border-radius: 2em;
    
}

.skills p {
    text-transform:uppercase;
}

.skills div:first-child {
    grid-column: 1/-1;
    text-align: center;
}

.codingSkills p, .designSkills p {
    font-size: .9em;
    margin-block-start: 1.2em;
    margin-block-end: 1em;
    margin-inline-start: 1.2em;
    margin-inline-end: 1em;
    transition: all ease-in-out 0.2s;
}

.codingSkills p:hover, .designSkills p:hover {
    transform: scale(1.5);
    color: var(--mainGreen);

}

.codingSkills {
    padding-right: 5em;
    flex-wrap: wrap;
    display:flex;
    justify-content: space-evenly;
    
}



.codingContainer{
  border-right: solid;
  border-width: 1px;
  border-color: #b4da82;
}

.codingSkills h2:first-child {
    grid-column: 1/-1;
    text-align: center;
    display: block;
}

.designSkills {
    padding-left: 2em;
    flex-wrap: wrap;
    display:flex;
    justify-content: space-evenly;
}



.skills h2 {
    text-decoration: underline;
    display:block;
    text-align:center;
}

.work {
    padding: .5em;
    text-transform: uppercase;
    /* background-color: rgb(216, 225, 231); */
    background-color: var(--mainBackground);
}

.work h2 {
    font-size:1em;
}

.workContainer {
    margin: 5% 10% 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    justify-content: baseline;
}

.workContainer h1:first-child {
    grid-column: 1/-1;
    text-align: center;
}

.work img {
    padding-right: 1em;
}

.work img:hover {
  scale(1.3);
  transform: scale(1.1);
  -webkit-transition: .3s
}
.workComplete {
  padding: 1em;
}

.heading {
    /*background-color: rgb(245, 245, 245); */
    background-color: black;
    color: white;
  min-height: 900px;
     background: url(./assets/ForestWeb.jpg);  
   /* background-size: cover;  */
   background-repeat: no-repeat;
   background-attachment: fixed;
   /* background-position: center; */
}

.headingImageContainer{
    align-items: center;
    padding: 2em;
}

.heading h2 {
  font-size: 2em;
}

.heading p {
  padding: 4em 0;
}

.accent {
  width: 25%;
}

.mainHeader {
    margin-bottom: 5em;
    background-image: url("./assets/cover1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 550px;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 5% 10% 2em;
}

.about div:first-child {
    grid-column: 1/-1;
    text-align: center;
}

.contact {
  /* background: linear-gradient(235deg,#d4f8fd,#fed7de); */
  background-color:var(--mainBackground);
  background-image: url("./assets/Forest2.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: .5em;
}

.contact h1 {
    color: white;
}

.contactContainer {
    /* margin: 5% 10% 2em; */
    
    margin: 5% 10% 2em;
    
}


*, *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, Sans-serif;
    font-size: 1.2em;
    background: var(--mainBackground);
    color:white
  }
  /* h1, h2, h3, p::first-letter {
    font-family: "Georgia", "Garamond", "Times New Roman", serif;
    color: hsl(240, 70%, 25%);
  } */
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  
  p * {
    text-indent: 0;
  }
  p::first-letter {
    font-size: 1em;
    font-weight: bold;
  }
  
  a {
    color:white;
    text-decoration:none;
  }
  /* Here go the actual styles */
  .styledA {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    z-index:0;
  }
  .styledA::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 100%;
    height: .15em;
    background: var(--mainGreen);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: .5;
    transition: .25s ease-in;
  }
  .styledA.u-left::after {
    -ms-transform-origin: left;
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  .styledA.u-right::after {
    -ms-transform-origin: right;
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  .styledA:hover::after {
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }


  .btn {
   
    cursor: pointer;
     display: block;
    font-size:18px;
    font-weight: 400;
    text-align:center;
    line-height: 45px;
    margin: 0 2em 2em 0em;
    max-width: 180px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    color: rgb(255 255 255);
    background-color: black;
  }

  .btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
    outline: 1px solid;
    outline-color:var(--mainGreen);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .btn-5:hover {
    border: 1px solid;
    /* box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2); */
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    font-weight: bold;
    max-width: 180px; 
    /* background-color: rgb(138, 167, 185); */

  }

 

  .topbar .title a {
    font-size: .8em;
  }

  .title a {
    /* background-image: linear-gradient(to right, black 50%, #000000); */
    background-position: -0% 0;
    background-size: 200% auto;
    color:  var(--mainGreen);
    font-size: 1.5em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
    z-index:0;
  }
  .title a:hover {
    background-position: -99.99% 0;
    z-index:0;
  }

  .contact div i {
    color: var(--mainGreen);
    margin-right: 1em;
    margin-top: 1em;
    background: rgba(10,36,0,1);
    padding: 1em;
  }

  .contact div i:hover {
    color: var(--mainGreen);
    margin-right: 1em;
    background: rgb(142, 255, 97);
    padding: 1em;
    color: black;
  }

  .footer-icons {
    margin: 2rem;
  }

  .footer-icons > a {
    margin: 2rem 1.5rem;
  }

  .contactIcons {
    grid-column: 1/-1;
    text-align: center;
    
  }

 

  .heading i {
    color: var(--mainGreen);
    margin-right: 2em;
    font-size: 25px;
    padding-top: 6em;
  }

  .heading i:hover {
    color: rgb(221, 255, 218);
    margin-right: 2em;
    font-size: 25px;
  }

  .hamburger {
    position: relative;
    display: none;
    font-weight: bold;
  }

  .hamburger-button {
    right:2rem;
  }




  .hamburger:hover .hamburger-content {
    display: block;
    z-index: 5;
  /* animation: popup .5s ease-in-out both; */
  }

  .gallery {
    margin: auto;
  }

  .gallery ul li {
    max-width: 30%;
    position: relative;
    float: left;
    margin: 0 0.75%;
    overflow: hidden;
  }

  .mobileWorkInfo {
    display: none;
  }

  .gallery h1:first-child {
    grid-column: 1/-1;
    text-align: center;
}

  .hobbies {
    display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
  }

  @media all and (max-width: 1350px) {
    .headerImage {
      padding: 0em;
  }
  }
  
  @media all and (max-width: 1250px) {

    /* .gallery ul {
      margin-left: 2rem;
    } */

    .gallery ul li {
      max-width: 45%;
      
  }

  }

  @media all and (max-width: 900px){

    .codingSkills {
      padding-right:0;
    }

    .designSkills {
      padding-left:0;
    }

    .grid2, .workContainer, .skills, .hobbies_languages {
        grid-template-columns: 1fr;
    }

   .hobbies {
    grid-template-columns: 1fr;
   }

    header ul {
      display: none;
  }

  .headerImage {
    padding: 1.4em;
}

    .hamburger {
      padding-top: 1em;
      position: relative;
      display: inline-block;
      z-index:5;
    }

    .HamDD{
      display:block;
      padding: 10px;
      background: var(--mainBackground);
  }

    .title a {
      font-size: .8em;
    }
    
    .topbar .title a {
      font-size: .6em;
      z-index: 10;
    }

    h2 {
      font-size: 1em;
      z-index:0;
    }

    .codingSkills p, .designSkills p {
      font-size: .7em;
  }

  .heading .title a {
    font-size: 1.5em;
  }

  .about {
    grid-template-columns: 1fr;
    }
  
    .gallery ul li {
      
      max-width: 90%;
     
    }

    .language-bar div {
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      font-size:12px;
    }

    .codingSkills, .webDevHeading, .codingContainer  {
   
      border-color: #000000;
    }

    .mobileWorkInfo {
      display: inline-block;
    }


  }

 
/* END OF MEDIA QUERY 800px */
  .about li {
    font-size: 14px;
    padding: .5em 0;
  }

  @media all and (max-width: 400px){


    .gallery > ul {
      margin-left:auto;
    }

    .topbar .title a {
      font-size: .4em;
    }

    .headerImage {
      padding: .8em;
  }

    
  }

.languages {
  max-width:800px;
}
.languages h2{
  grid-column: 1/-1;
  text-align: center;
  text-decoration: underline;
}
  .language-bar .full {
    background-color: var(--mainGreen) !important;
    -webkit-print-color-adjust: exact;
}

.language-bar {
  margin-top: 5px;
  font-size: 18px;
  height: 30px;
  color: black !important;
  -webkit-print-color-adjust: exact;
  width: 100%;
}

.language-bar div {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  width: 22%;
  display: inline-block;
  text-align: center;
  height: 100%;
  background-color: #e9e9e9 !important;
  -webkit-print-color-adjust: exact;
}

.hobbies h2{
  grid-column: 1/-1;
  text-align: center;
  text-decoration: underline;
}

.hobbies img {
  max-width:50px;
}

.travel img {
  max-width:80%;

}

.hobbies img:hover {
  opacity: 0.6;
}



.travel p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  font-size:13px;
  transition: all ease-in-out 0.2s;
}

.travel p:hover {
  transform: scale(1.5);
  color: var(--mainGreen);

}

.travel p::first-letter {
  font-size: 1em;
}

.travel {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.hobbyRow {
  /* display:inline-block; */
  padding: .5em 0;
}





  